# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.


### Raw HTML/CSS/JS ###
design.jsonbateman.com {
	root * /var/www/html/design-system

	file_server
}

alug.us {
	root * /var/www/html/alug.us

	file_server
}

tsukinominori.com {
	root * /var/www/html/tsukinominori.com

	file_server
}

pokermon.club {
	root * /var/www/html/poker_stats/portal/dist

	file_server
}

### Running Services ###
jsonbateman.com {
	reverse_proxy localhost:3000
}

api.pokermon.club {
	reverse_proxy localhost:7777
}

crabspy.com {
	reverse_proxy localhost:3012
}

basicauth.jsonbateman.com {
	reverse_proxy localhost:3033
}
